/*  pink color style    */
.btn-1:hover,
.story-section .story-text h3,
.event-section .event-item-inner span,
.story-section .story-item i,
.couple-section .couple i.fa-heart,
.couple-section .couple h3,
.header .nav ul li a.active,
.header .nav ul li a:hover{
    color: #eca090;    
}

.btn-1,
.event-section .event-item-inner:before,
.event-section,
.couple-section .couple img{
    border-color: #eca090;
}

.event-section,
.btn-1,
.rsvp-section{
    background-color: #eca090;
}